asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2021.10.8
click==8.0.3
distlib==0.3.4
dj==0.1
Django==4.0.5
django-environ==0.8.1
django-extensions==3.1.5
filelock==3.4.2
Flask==2.0.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pipenv==2022.1.8
platformdirs==2.5.0
six==1.15.0
sqlparse==0.4.2
virtualenv==20.13.1
virtualenv-clone==0.5.7
Werkzeug==2.0.3
